<div class="sobrefondo">
    <div class="contenido">
        <h1 id="titulo">{{title}} BAM </h1>
        <p>La mejor opcion para ti y para tu ser querido</p>
        <a href="/Medicos">Listado medicos</a>
        <a href="/Pacientes">Listado pacientes</a>
        <a href="/Citas">Solicitar citas</a>
</div>